<ion-view style="" id="page7" title="Login" hide-nav-bar="true">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <form style="" class="list">
            <div style="width: 284px; height: 36px;" class="spacer"></div>
            <div>
                <img style="display: block; margin-left: auto; margin-right: auto;" src="img/login-icon.png" height="35%" width="70%">
            </div>
            <div>
            <br/>
            <br/>
            <label class="item" style="font-size: large;text-align: center;"><b><i class="icon ion-android-locate"> Customer Service</i></b></label>
            </div>
            <div style="width: 284px; height: 60px;" class="spacer"></div>
            <ion-list style="">
                <label style="" name="uname" class="item item-input">
                    <span class="input-label">Username</span>
                    <input ng-model="logindata.uname" placeholder="ur@example.com" type="email">
                </label>
                <label style="" name="pwd" class="item item-input">
                    <span class="input-label">Password</span>
                    <input ng-model="logindata.pwd" placeholder="Please Enter Correctly" type="password">
                </label>
            </ion-list>
            <div style="width: 283px; height: 38px;" class="spacer"></div>
            <a class="button button-positive  button-block icon ion-android-send" id="login-button6" ng-click="login()"></a>
            <a class="button button-positive  button-block button-clear" id="login-button7" ui-sref="signup">Or create an account</a>
            <a class="button button-full button-positive icon ion-ios-location" ui-sref="page2"></a>
        </form>
    </ion-content>
</ion-view>